
body {
    margin: 0;
    font-family: Arial, "Helvetica Neue", Helvetica, sans-serif;
    font-size: 16px;
    font-weight: 400;
    line-height: 28px;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    color: #fff;
}
#hero {
    position: relative;
    background: linear-gradient(rgba(0, 0, 0, 0.7), rgba(0, 0, 0, 0.7)), url(../img/bg.jpg) no-repeat center / cover;
    height: 100vh;
}
.container {
    max-width: 1140px;
    margin: auto;
    padding: 0 15px;
}
.hero-text-box {
    position: absolute;
    top: 45%;
    left: 50%;
    transform: translate(-50%, -50%);
    text-align: center;
    width: 100%;
}
h1, h5 {
    margin: 0;
    line-height: 1.2;
}
ul {
    margin: 0;
    padding: 0;
}
ul li {
    list-style-type: none;
    display: inline-block;
}
a {
    display: block;
    padding: 5px;
    color: #fff;
}
.hero-text-box h5{
    font-size: 50px;
    margin-bottom: 15px;
}
.hero-text-box h1{
    font-size: 50px;
    margin-bottom: 15px;
}
.hero-text-box h1 .spn1 {
    font-weight: 200;
}
.social-icons a {
    background-color: rgba(0, 0, 0, 0.4);
    width: 25px;
    height: 25px;
    border-radius: 50%;
    text-align: center;
    line-height: 27px;
    transition: 0.03s;
}
.social-icons a:hover {
    background: rgba(255, 255, 255, 0.1);
}

.hero-text-box .ah-headline.clip .ah-words-wrapper::after {
	content: '';
	position: absolute;
	top: 0;
	right: 0;
	width: 2px;
	height: 90%;
	background-color: #fff;
}